{% extends 'core/base.html' %}
{% block content %}
    <div id="root"></div>
    <script type="text/babel">

        class EligibleParticipants extends React.Component {
            constructor(props) {
                super(props);
                this.register = this.register.bind(this);
                this.state = {
                    participants: [],
                    selectedParticipants: [],
                    isLoaded: false,
                    error: null
                };
            }
            componentDidMount() {
                fetch('/event/{{event.pk}}/eligibleparticipants/')
                    .then(res => res.json())
                    .then(
                        (result) => {
                            this.setState({
                                isLoaded: true,
                                participants: result
                            });
                            console.log(result);
                            $(document).ready(function() {
                                $('.datatable').DataTable(
                                    {
                                        responsive: true
                                    }
                                );
                            });
                        },
                        (error) => {
                            this.setState({
                                isLoaded: true,
                            });
                        }
                    )
            }
            register(student, event){
                console.log(student);
                this.props.onRegister(student);
            }
            render() {
                return (
                        <div class="col-lg-4 col-sm-6 col-md-6 scrollable">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Eligible Participants</h5>
                                    <p>{{event}} Registration</p>
                                    <div class="table-responsive">
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th>
                                                Name
                                                </th>
                                                <th>Register</th>
                                            </tr>    
                                        </thead>
                                        <tbody>
                                                    {this.state.participants.map((student) => (
                                                    <tr>
                                                        <td>{student.first_name} {student.last_name}</td>
                                            
                                                        
                                                        <td><button type="button" id="button" class="btn btn-primary btn-sm" onClick={() => this.register(student, this.props.event)} >Register</button></td>
                                                    </tr>
                                                    ))} 
   
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>    
                        </div>
                );
            }
        }

        class EventResultsEntry extends React.Component {
            constructor(props){
                super(props);
                this.getHouseName = this.getHouseName.bind(this)
                this.handleRemove = this.handleRemove.bind(this)
                this.handleInputChange = this.handleInputChange.bind(this)
                this.handleFinalize = this.handleFinalize.bind(this)
                this.state = {
                    event: this.props.event,
                    results: [],
                    isLoaded: false,
                    error: null
                }
    
            }
            getHouseName(){
                return (
                    <span>House Name</span>
                )
            }
            handleRemove(participant){
                this.props.onDeregister(participant)
            }
            handleInputChange(event, participant, attempt){
                const value = event.target.value
                this.props.onUpdateAttempt(participant, attempt, value)
            }
            handleFinalize(){
                const {event, selectedParticipants} = this.props;
                const dataToSend = selectedParticipants.map(participant => ({
                    event: event,
                    participant: participant.id,
                    attempt1: participant.attempt1,
                    attempt2: participant.attempt2,
                    attempt3: participant.attempt3
                }));
                console.log(dataToSend)
                fetch(`/event/${event}/eventparticipation/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(dataToSend),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    alert('Scores finalized successfully!');

                })
                .catch((error) => {
                    console.error("Error:", error);
                    alert('An error occured while finalizing scores')
                });
            }
            render(){
                return (
                    <div class="col-lg-8 col-sm-6 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Event Scores Entry</h5>
                                <p>Event Scores Entry</p>
                                <div class="row">
                                        {this.props.selectedParticipants.map((participant) =>(
                                            <form class="row p-4">
                                            <span class='col-lg-3 col-md-3 col-sm-3'>{participant.first_name} {participant.last_name}</span>
                                            <span class='col-lg-2 col-md-3 col-sm-3'>{() => getHouseName(participant.house)}</span>
                                            <input class='col-lg-2 col-md-2 col-sm-2' placeholder="Att 1" value={participant.attempt1 || ''} onChange={(e) => this.handleInputChange(e, participant, 'attempt1')}></input>
                                            <input class='col-lg-2 col-md-2 col-sm-2' placeholder="Att 2" value={participant.attempt2 || ''} onChange={(e) => this.handleInputChange(e, participant, 'attempt2')}></input> 
                                            <input class='col-lg-2 col-md-2 col-sm-2' placeholder="Att 3" value={participant.attempt3 || ''} onChange={(e) => this.handleInputChange(e, participant, 'attempt3')}></input> 
                                            <button class="col-lg-1 col-md-1 col-sm-1 btn btn-danger btn-small" onClick={() => this.handleRemove(participant)}>X</button>


                                            </form>
                                        ))} 
                                    <button class="btn btn-primary btn-sm" onClick={this.handleFinalize}>Finalize</button>  
                                </div>
                            </div>
                        </div>
                    </div>
                );
            }
        }

        class Event extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    event: {{event.pk}},
                    selectedParticipants: [],
                    isLoaded: false,
                    error: null
                };
                this.handleRegister = this.handleRegister.bind(this)
                this.handleDeregister = this.handleDeregister.bind(this)
                this.handleUpdateAttempt = this.handleUpdateAttempt.bind(this)

            }

            handleRegister(student){
                if (this.state.selectedParticipants.length >= 8) {
                    alert("Maximum of 8 Participants Allowed");
                } else if (this.state.selectedParticipants.indexOf(student) != -1) {
                    alert("Participant is already registered");
                } else {
                    this.setState(prevState => ({
                        selectedParticipants: [...prevState.selectedParticipants, student]
                    }));
                }
            }
            handleDeregister(student) {
                this.setState(prevState => ({
                    selectedParticipants: prevState.selectedParticipants.filter(p => p !== student)
                }));
                console.log(this.state.selectedParticipants)
            }
            handleUpdateAttempt(participant, attempt, value){
                this.setState(prevState => ({
                    selectedParticipants: prevState.selectedParticipants.map(p => 
                        p.id === participant.id ? { ...p, [attempt]: value } : p
                    )
                }));
                console.log("Attempt ", attempt, " Value ", value)
            }
            render(){
                return (
                    <div class="container row p-3">
                        <EligibleParticipants event={this.state.event}  onRegister={this.handleRegister} />
                        <EventResultsEntry event={this.state.event} selectedParticipants={this.state.selectedParticipants} onDeregister={this.handleDeregister} onUpdateAttempt={this.handleUpdateAttempt}/>
                    </div>
                );
            };
            
        }
        const root = ReactDOM.createRoot(document.getElementById('root'));
        root.render(<Event />);
    </script>
{% endblock %}