{% extends 'base.html' %}

{% block content %}
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Event Participation List</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Event</th>
              <th>Participant</th>
              <th>
                <a href="{% url 'core:event_participation_create' %}" class="btn btn-primary">Add</a>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for event_participation in event_participations %}
            <tr>
              <td>{{ event_participation.event }}</td>
              <td>{{ event_participation.participant }}</td>
              <td>
                <a href="{% url 'core:event_participation_update' event_participation.pk %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'core:event_participation_delete' event_participation.pk %}" class="btn btn-danger">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
{% endblock %}
<!--       </div> -->