{% extends 'core/base.html' %}

{% block content %}
<section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Eligible Participants</h5>
            <p>Event Participants Registration</p>

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th>
                    <b>N</b>ame
                  </th>
                  <th>Points</th>
                  <th>House</th>
                  <th data-type="date" data-format="YYYY/MM/DD">Date of Birth</th>
                  <th>Register</th>
                </tr>
              </thead>
              <tbody>
                {% for student in students %}
                <form>
                    {% csrf_token %}
                    <tr>
                        <td>{{ student.full_name }}</td>
                        <td>{{ student.points }}</td>
                        <td>{{ student.house.name }}</td>
                        <td>{{ student.date_of_birth }}</td>
                        <td><button type="button" id="button" class="btn btn-primary btn-sm" value="{{student.full_name}}" onclick="register('e', this.getAttribute('value'))">Register</button></td>
                    </tr>
                </form>
                  {% endfor %}
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>
  <script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    function register(event, student, ){
      console.log(student)
            fetch(window.location.href, {
                method: "POST",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                body: JSON.stringify({
                    "event": event,
                    "student": student,
                }),
            })
            .then((response) => console.log(response.json()));
    }
  </script>



  {% endblock %}