<!DOCTYPE html>
<html>
<head>
    <title>Update Events</title>
</head>
<body>
    <h1>Update Events</h1>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }} 
         <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Event Number</th>
                    <th>Is Boys Event?</th>
                    <th>Event Year</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                <tr>
                    <td>{{ form.name }}</td>
                    <td>{{ form.event_num }}</td>
                    <td>{{ form.is_boys_event }}</td>
                    <td>{{ form.event_year }}</td>
                </tr>
                 {% endfor %}
            </tbody>
        </table>
        <button type="submit">Update Events</button>
    </form>
</body>
</html>
